<div class="failure">
    <div class="box-img">
        <img class="feedback-img" src="/assets/img/failure.png">
    </div>
    <div class="box-text-feedback">
        <p> Payment method id: {{ payment }} </p>
        <p> External reference: {{ externalReference }} </p>
        <p> Payment id: {{ paymentId  }} </p>
    </div>
</div>

<div class="pending">
    <div class="box-img">
        <img class="feedback-img" src="/assets/img/pending.png">
    </div>
    <div class="box-text-feedback">
        <p> Payment method id: {{ payment }} </p>
        <p> External reference: {{ externalReference }} </p>
        <p> Payment id: {{ paymentId  }} </p>
    </div>
</div>

<div class="success">
    <div class="box-img">
        <img class="feedback-img" src="/assets/img/maps-and-flags.png">
    </div>
    <div class="box-text-feedback">
        <p> Payment method id: {{ payment }} </p>
        <p> External reference: {{ externalReference }} </p>
        <p> Payment id: {{ paymentId  }} </p>
    </div>
</div>